fcitx/.config/fcitx/dbus
fcitx/.config/fcitx/log
fcitx/.config/fcitx/cached_layout
fcitx/.config/fcitx/clipboard/history.dat
fcitx/.config/fcitx/pinyin/pyusrphrase.mb
fcitx/.config/fcitx/profile
fcitx/.config/fcitx/pinyin/pyindex.dat
fcitx/.config/fcitx/conf/fcitx-libpinyin.config
fcitx/.config/fcitx/libpinyin
openssh/.ssh/authorized_keys
openssh/.ssh/id_rsa
openssh/.ssh/id_rsa.pub
openssh/.ssh/known_hosts
neovim/.config/nvim/.netrwhist
qutebrowser/.local/share/JetBrains/
qutebrowser/.local/share/applications/
qutebrowser/.local/share/epiphany/
qutebrowser/.local/share/fish/
qutebrowser/.local/share/gvfs-metadata/
qutebrowser/.local/share/nvim/
qutebrowser/.local/share/qutebrowser/cmd-history
qutebrowser/.local/share/qutebrowser/history.sqlite
qutebrowser/.local/share/qutebrowser/state
qutebrowser/.local/share/qutebrowser/webengine/
qutebrowser/.local/share/recently-used.xbel
